<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Create Appointments</h3>
        <table class="table table-condensed">
         <thead>

                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                    <form method="POST" action='{{url_for('doctor.add_appointments')}}'>
                
                        <td><input type="date" name="date"></td>
                        <td><input type="time"  name="time_start"></td>
                        <td><input type="time" name="time_end"></td>
                        <td><button type="submit" class="btn btn-success">Add appointment</button></td>
                    </form>
                </tr>
                </tbody>
        </table><br>
             <h3 class="text-center">Appointments</h3>
        <table class="table table-condensed">
            <thead>

                <tr>
                    <th>Doctor ID</th>
                    <th>Comment</th>
                    <th>Patient ID</th>
                    <th>Appointment ID</th>
                    <!-- <th>Service</th> -->
                    <!-- <th>Comments</th> -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!------- Monday ---------->

                {% for doctor in doctors %}
                <!-- complete code here -->
                {% endfor %}
                <tr>
                    <th rowspan="4">Monday <br> 17-09-2018</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3:00pm</td>
                    <td>5:00pm</td>
                    <td>Giang</td>
                    <td>
                        <button class="btn btn-danger">Get Patient Record</button>
                    </td>
                </tr>
                <tr>
                    <td>5:00pm</td>
                    <td>7:00pm</td>
                    <td>Giang</td>
                    <!-- <td>Health Situation check</td> -->
                    <!-- <td></td> -->
                    <td><button class="btn btn-danger">Get Patient Record</button></td>
                </tr>
                <tr></tr>
                
                <!------- Tuesday ---------->
                <tr>
                    <th rowspan="4">Tuesday <br> 18-09-2018</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <td></td>
                </tr>
                <tr>
                    <td>3:00pm</td>
                    <td>5:00pm</td>
                    <td>Giang</td>
                    <!-- <td>Monthly Health Examination</td> -->
                    <!-- <td></td> -->
                    <td><button class="btn btn-danger">Get Patient Record</button></td>
                </tr>
                <tr>
                    <td>5:00pm</td>
                    <td>7:00pm</td>
                    <td>Giang</td>
                    <!-- <td>Health Situation check</td> -->
                    <!-- <td></td> -->
                    <td><button class="btn btn-danger">Get Patient Record</button></td>
                </tr>
                <tr>
                  
                </tr>
                <!------- Wednesday ---------->
                <tr>
                    <th rowspan="2">Wednesday <br> 19-09-2018</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <td></td>
                </tr>
                <tr>
                </tr>
                <!------- Thursday ---------->
                <tr>
                    <th rowspan="2">Thursday <br> 20-09-2018</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <td></td>
                </tr>
                <tr>
                </tr>
                <!------- Friday ---------->
                <tr>
                    <th rowspan="2">Friday <br> 21-09-2018</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <td></td>
                </tr>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>