<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

    {% for message in messages %}
        {% if "Error" not in message[1]: %}
            <div class="alert alert-info">
            <strong>Success! </strong> {{ message[1] }}
            </div>
        {% endif %}

        {% if "Error" in message[1]: %}
            <div class="alert alert-warning">
            {{ message[1] }}
            </div>
        {% endif %}
    {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Create Availabilities</h3>
        <table class="table table-condensed">
         <thead>

                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                    <form method="POST" action='{{url_for('doctor.add_availability')}}'>
                
                        <td><input type="date" name="date"></td>
                        <td><input type="time"  name="time_start"></td>
                        <td><input type="time" name="time_end"></td>

                        <input type ="text" class="hidden" value ='{{ doctors.name }}' name='doctor_name'>
                        <input type ="text" class="hidden" value ='{{ doctors.calendar_id }}' name='doctor_calendar_id'>
                        <td><button type="submit" class="btn btn-success">Add Availability</button></td>

                        
                    </form>
                </tr>
                </tbody>
        </table><br>
             <h3 class="text-center">Upcoming Availabilities</h3>
        <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>Stop Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for availability in availabilities%}
                    <tr>
                        <td>{{ availability.date }}</td>
                        <td>{{ availability.time_start }}</td>
                        <td>{{ availability.time_end }}</td>
                        {% if availability.doctor_id == None %}
                            <!-- {% for patient in patients %}
                                {% if availability.patient_id == patient.id %}
                                    <td>{{ patient.name }}</td>
                                    <td>
                                        <form method="POST" action='{{ url_for('patientRecord')}}'>
                                            <input type ="text" class="hidden" value ='{{ patient.id }}' name='patient_id'>
                                            <button type="submit" class="btn btn-danger">Get Patient Record</button>
                                        </form>
                                    </td>
                                {% endif %}
                            {% endfor %} -->
                        {% else %}
                            <td>
                                <form method="POST" action='{{ url_for('doctor.remove_availability')}}'>
                                    <input type ="text" class="hidden" value ='{{ availability.id }}' name='availability_id'>
                                    <input type ="text" class="hidden" value ='{{ availability.event_id }}' name='event_id'>
                                    <input type ="text" class="hidden" value ='{{ availability.doctor_id }}' name='doctor_id'>
                                    <input type ="text" class="hidden" value ='{{ availability.date}}' name='date'>
                                    <input type ="text" class="hidden" value ='{{ availability.time_start }}' name='time_start'>
                                    <input type ="text" class="hidden" value ='{{ availability.event_id }}' name='event_id'>
                                    <input type ="text" class="hidden" value ='{{ doctors.calendar_id}}' name='calendar_id'>
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            </tbody>
        </table> <br>
    </div>
</div>
<!--  -->