{% extends 'bootstrap/base.html' %}
<!-- Include the above in your HEAD tag -->
{% block navbar %}
<div class="container">
        <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class= "navbar-brand">Doctor</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href='{{url_for('doctor.availabilities')}}'>Availability List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='{{url_for('doctor.calendar')}}'>Availability Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='{{url_for('doctor.all_appointments')}}'>Upcoming Appointments</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='{{url_for('logout')}}'>Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
                    </ul>
                </div>
            </nav>
</div>
{% endblock %}

{% block content %}
{% include content %}
{% endblock %}