<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Appointments</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    {% for doctor in doctors %}
                        {% if appointment.doctor_id == doctor.id %}
                            <td>{{ doctor.name }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time_start }}</td>
                    <td>{{ appointment.time_end }}</td>
                    <form method="POST" action='{{ url_for('patient.unbook_appointment')}}'>
                        <input type ="text" class="hidden" value ='{{ appointment.id }}' name='appointment_id'>
                        <td><button type="submit" class="btn btn-danger">Remove</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>