<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Appointments</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Service</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Joshep Dao</td>
                    <td>17-09-2018</td>
                    <td>3:00pm</td>
                    <td>5:00pm</td>
                    <td>Monthly Health Examination</td>
                    <td></td>
                    <td><button class="btn btn-danger">Remove</button></td>
                </tr>
                <tr>
                    <td>Christopher</td>
                    <td>17-09-2018</td>
                    <td>3:00pm</td>
                    <td>5:00pm</td>
                    <td>Health Situation check</td>
                    <td></td>
                    <td><button class="btn btn-danger">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>