<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript> 
$(document).ready(function(){ 
    $("#type").change(function(){ 
        if ($(this).val()=="Doctor"){ 
            $(".doctor").removeClass("hidden") 
            $(".patient").addClass("hidden") 
            $(".clerk").addClass("hidden") 
        } 
        else if ($(this).val()=="Patient" ){ 
            $(".patient").removeClass("hidden") 
            $(".doctor").addClass("hidden")
            $(".clerk").addClass("hidden") 
        } 
        else if ($(this).val()=="Clerk" ){ 
            $(".clerk").removeClass("hidden")
            $(".doctor").addClass("hidden") 
            $(".patient").addClass("hidden") 
        } 
    }) 
}); 
</script> 
    
<!------ Include the above inyour HEAD tag ---------->

<div class="align-middle jumbotron">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

    {% for message in messages %}
        {% if "Error" not in message[1]: %}
            <div class="alert alert-info">
            <strong>Success! </strong> {{ message[1] }}
            </div>
        {% endif %}

        {% if "Error" in message[1]: %}
            <div class="alert alert-warning">
            {{ message[1] }}
            </div>
        {% endif %}
    {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <form method="POST" action='{{url_for('loginAction')}}'>
                       
                    <!------ List of doctors name ---------->
                    <div class="doctor form-group text-center hidden">
                        <label class="control-label" for="doctor_name">Doctor Name</label>
                        <select id="doctor_name" name="doctor_name" class="form-control">
                            {% for doctor in doctors %}
                            <option value='{{ doctor.id }}'>{{doctor.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!------ List of patients name ---------->
                    <div class="patient form-group text-center">
                        <label class="control-label" for="patient_name">Patient Name</label>
                        <select id="patient_name" name="patient_name" class="form-control">
                            {% for patient in patients %}
                            <option value='{{ patient.id }}' >{{patient.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!------ List of clerks name ---------->
                    <div class="clerk form-group text-center hidden">
                        <label class="control-label" for="clerk_name">Clerk Name</label>
                        <select id="clerk_name" name="clerk_name" class="form-control">
                             {% for clerk in clerks %}
                            <option value='{{ clerk.id }}' >{{clerk.name}}</option>
                            {% endfor %}
                 
                        </select>
                    </div>
                    
                    <div class="form-group text-center">
                        <label class="control-label" for="type">Login As</label>
                        <select id="type" name="type" class="form-control">
                            <option value="Patient">Patient</option>
                            <option value="Doctor">Doctor</option>
                            <option value="Clerk">Medical Clerk</option>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <div class="form-group">
                            <button type="submit" id="submit" name="submit" class="btn btn-default btn-primary">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>