<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
<div class="col-md-6">
                    <div class="well-block">
                        <div class="well-title">
                            <h2>Patient's detail ( Medical clerk )</h2>
                        </div>
                        <!-- form -->
                            {% from "patient.html" import render_field %}
                        <form method=post>
                        <dl>
                        <div class="col-md-6">
                        <div class="form-group">
                            Patient ID: {{ render_field(form.id) }} <br><br>
                            Patient Name: {{ render_field(form.name) }}<br><br>
                            Patient PhoneNumber{{ render_field(form.phoneNum) }}<br><br>
                            Patient Email: {{ render_field(form.email) }}<br><br>
                            Patient Address: {{ render_field(form.address) }}<br><br>
                            Patient Appointment:
                            Assigned doctor: 
                       </div>
                       </div>
                        </dl>
            
                        </form>
                      
                        <!-- form end -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                 
                        {% for message in messages %}
                            {% if "Error" not in message[1]: %}
                                <div class="alert alert-info">
                                <strong>Success! </strong> {{ message[1] }}
                                </div>
                            {% endif %}
                 
                            {% if "Error" in message[1]: %}
                                <div class="alert alert-warning">
                                {{ message[1] }}
                                </div>
                            {% endif %}
                        {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>  </div>
</div>