<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-3">
            <h2>{{ patient.name }}</h2>
            <h5>Email:<br> {{ patient.email }}</h5>
            <h5>Dob:<br>{{ patient.birthday }} </h5>
            <h5>Phone:<br> {{ patient.phone }}</h5>
        </div>
        <br>
        <div class="col-md-9">
            <h2 class="text-center">Medical Record</h2>
            {% if records == None or records == [] %}
                <h3 class="text-center">You have no prior records</h3>
            {% endif %}
            {% for record in records %}
            <div>
                <div class="form-group col-md-4">
                    <label class="control-label" for="name">Doctor</label>
                    {% for doc in doctors %}
                    {% if doc.id == record.doctor_id %}
                        <input id="name" name="name" type="text" value='{{doc.name}}' class="form-control input-md" disabled>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <label class="control-label">Date</label>
                    <h5>{{ record.date }}</h5>
                </div>
                <div class="form-group col-md-11">
                    <label class="control-label" for="notes">Notes</label>
                    <textarea rows="5" name="notes" id="notes" class="form-control" disabled>{{record.notes}}</textarea>
                </div>
                <hr class="col-xs-12" style="border-top: 2px dashed #8c8b8b;">
            </div>
            {% endfor %}
        </div>
    </div>
</div>